@font-face {
  font-family: 'Laundry Grotesk';
  src: url('~@/assets/fonts/LaundryGrotesk-Regular.eot');
  src: url('~@/assets/fonts/LaundryGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/LaundryGrotesk-Regular.woff2') format('woff2'),
       url('~@/assets/fonts/LaundryGrotesk-Regular.woff') format('woff');
}
